{% extends 'base.html' %}

{% block content%}

<script>
    function goBack() {
      window.history.back();
    }
</script>



<button class="btn btn-secondary" onclick="goBack()">Back to List</button>
<a class="btn btn-primary" href="{% url 'product-update' product.id %}">Edit</a>
<a class="btn btn-danger" href="{% url 'product-delete' product.id %}">Delete</a>
<hr>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="{{ product.image_url }}" width="200" height="200">
                    </div>

                    <div class="col-2">
                        <h3>SKU:</h3>
                        <h3>ASIN:</h3>
                        <h3>Keywords:</h3>
                    </div>

                    <div class="col-4">
                        <h3>{{ product.sku }}</h3>
                        <h3><a href="https://www.amazon.de/dp/{{product.asin}}" target="_blank">{{ product.asin }}</a></h3>
                        <h3>
                            <ul>
                            
                                {% for keyword in product.keyword.all  %}
                                <li>
                                  <div class="row mb-1">
                                    <div class="col-5">
                                      {{ keyword }}
                                    </div>
                                    <div class="col">
                                      <a class="btn btn-primary btn-sm" href="{% url 'scraper-keyword' keyword %}">Scrape</a>
                                    </div>
                                  </div>
                                   
                                
                                </li>
                              {% endfor %}
                                
                            </ul> 
                        </h3>
                    </div>

                    


                </div>
                
                
            </div>

        </div>

        


    </div>


</div>

<div class="row">
<div class="col-7">
    <div class="card mt-2" style="text-align: center;">
        <div class="card-body">
            
                
                <table class="table table-striped">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Keyword
                        </th>
                        <th>
                            Page
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                    {% for scrapedProduct in scraped_data  %}
                    <tr>
                        <td>{{ scrapedProduct.date }}</td>
                        <td>{{ scrapedProduct.keyword }}</td>
                        <td>{{ scrapedProduct.page }}</td>
                        <td>{{ scrapedProduct.position }}</td>
                        <td>{{ scrapedProduct.price }}</td>

                    </tr>
                    {% endfor %}
                    

            </table>


            
            
            
        </div>

    </div>
</div>
</div>

{% endblock content%}