{% extends 'base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'product-create' %}">Create New Item</a>

<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">SKU</th>
        <th scope="col">ASIN</th>
        <th scope="col">Keyword</th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
      {% for instance in object_list %}
      <tr>
        <td><img src="{{ instance.image_url }}" width="50" height="50"></td>
        <td><a href="{% url 'product' instance.id %}">{{ instance.sku}}</a></td>
        <td>{{ instance.asin}}</td>
        <td>{{ instance.keyword}}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'product-update' instance.id %}">Edit</a>
          <a class="btn btn-primary" href="{% url 'product-delete' instance.id %}">Delete</a>
          <a class="btn btn-primary" href="{% url 'scraper-keyword' instance.keyword %}">Scrape</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

