{% extends 'base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'product-create' %}">Create New Item</a>

<hr>

<div class="row">
  <div class="col-7">
    <div class="card shadow">
      <div class="card-body">
        <table class="table table-responsive" style="text-align: center;">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">SKU</th>
              <th scope="col">ASIN</th>
              <th scope="col">Keywords</th>
              <th scope="col">Latest data scrape</th>
              <th scope="col"></th>
              
            </tr>
          </thead>
          <tbody>
            {% for instance in page_obj %}
            
              
              <tr>
                <td><img src="{{ instance.image_url }}" width="50" height="auto"></td>
                <td><a href="{% url 'product' instance.id %}">{{ instance.sku}}</a></td>
                <td><a href="https://www.amazon.de/dp/{{ instance.asin }}" target="_blank">{{ instance.asin }}</a></td>
                <td>
                  <ul>
                  {% for keyword in instance.keyword.all  %}
                    <li>
                      <div class="row mb-1">
                        <div class="col">
                          {{ keyword }}
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                  </ul>
                </td>
                <td>{{ instance.latest_update }}</td>
                <td>
                  <a class="btn btn-primary btn-sm" href="{% url 'product-update' instance.id %}">Edit</a>
                  
                  
              </tr>
              
              
            
            
            
            {% endfor %}
          </tbody>
        </table>

        {% if page_obj.has_other_pages %}

          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          <ul class="pagination">
            
                <li><a class="page-link" href="?page=1">First</a></li>
            {% if page_obj.has_previous %}
                <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
            {% else %}
                <li class="disabled page-link"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}
            
            {% if page_obj.number|add:'-4' > 1 %}
                <li><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
            {% endif %}
            
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li  class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <li><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
            {% endif %}
            
            {% if page_obj.has_next %}
                <li><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            {% else %}
                <li class="disabled page-link"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
            {% endif %}
            <li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
          </ul>
        
        
        {% endif %}
        


      </div>
    </div>
  </div>
</div>





{% endblock content %}

