{% extends 'base.html' %}

{% block content%}

<a class="btn btn-secondary" href="{% url 'keyword-list' %}">Back to List</a>
<a class="btn btn-primary" href="{% url 'keyword-update' keyword.id %}">Edit</a>
<a class="btn btn-danger" href="{% url 'keyword-delete' keyword.id %}">Delete</a>
<hr>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <img src="{{ image_url }}" width="200" height="200">
                    </div>

                    <div class="col-2">
                        <h3>Search Terms:</h3>
                    </div>

                    <div class="col-4">
                        <h3>{{ keyword.keyword }}</h3>
                        
                        <h3>
                            
                        </h3>
                    </div>

                    


                </div>
                
                
            </div>

        </div>

        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    
                    <table class="table table-responsive table-striped">
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Keyword
                            </th>
                            
                        </tr>
                        {% for crawl in crawls %}
                        <tr>
                            <td><a href="{% url 'crawl-detail' crawl.id %}">{{ crawl.date }}</a></td>
                            <td>{{ crawl.keyword }}</td>
                            
                        </tr>
                        {% endfor %}
                        

                </table>


                </div>
                
                
            </div>

        </div>


    </div>


</div>



{% endblock content%}