{% extends 'base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'keyword-create' %}">Create New Keyword</a>
<a class="btn btn-primary" href="{% url 'scrape-all-keywords' %}">Scrape All Keywords</a>


<hr>

<div class="row">
  <div class="col-6">
    <div class="card shadow">
      <div class="card-body">
        <table class="table" style="text-align: center;">
          <thead>
            <tr>
              
              <th scope="col">Keyword</th>
              <th scope="col">Latest data scrape</th>
              <th scope="col">No of Crawls</th>
              
            </tr>
          </thead>
          <tbody>
            {% for keyword in keywords %}
            
              
              <tr>
                
                <td><a href="{% url 'keyword-detail' keyword.id %}">{{ keyword.keyword}}</a></td>
                
                <td>{{ keyword.latest_update}}</td>
                
                <td style="text-align: center;">{{ keyword.no_of_crawls }}</td>
                  
                  
              </tr>
              
              
            
            
            
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}